body{
    font-family:'Khula', sans-serif;
    scroll-behavior: smooth;
}

.header {
max-width: 556px;

display: flex;
justify-content:space-between;

border-bottom: 1px solid black ;
margin: 0px auto;
padding: 15px 0 25px 0  ;
font-weight: bold;
}


.header a {
    text-decoration: none;
    color: black;
}


.section_1{
    font-weight: 500;
}


.translate{
    border: none;
    background: none;
    font-weight: bold;
    color: #818181;
}


.translate:focus{
    color: #000000;
}

.mainImage img{
    max-width: 900px;
}